<button (click)="showForm()"><span *ngIf="!formStatus">Add</span><span *ngIf="formStatus">Hide form</span></button>
<br><br>
<div *ngIf="formStatus" class="form-style">
  <form [formGroup]="form">
    <label><b>Title</b></label>
    <input 
    type="text" 
    name="title" 
    placeholder="type value"
    formControlName = "title"
    > 
    <br><br>
  
    <label><b>Body</b></label>
    
    <input 
    type="text" 
    name="body" 
    placeholder="type body"
    formControlName = "body"
    > 
    <br> <br>
    <button (click)="onSubmit()">submit</button>
  </form>
</div>
<br><br>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr *ngFor="let user of responseData">
    <td> {{user.id}} </td>
      <td> {{user.title}} </td>
      <td> {{user.body}} </td>
  </tr>

</table>


